{{- if lookPath "nvim" -}}
edit.command = "nvim"
{{- else if lookPath "vi" -}}
edit.command = "vi"
{{- end -}}

{{- if lookPath "zsh" }}
cd.command = "zsh"
{{- end }}

[data.wants]
desktop = {{ promptBoolOnce . "data.wants.desktop" "Do you want a desktop gui" | toToml }}
dev = {{ promptBoolOnce . "data.wants.dev" "Do you want a dev environment" | toToml }}
