/* https://docs.gtk.org/gtk3/css-overview.html */

@import url("modules/drawer.css");
@import url("modules/icons.css");
@import url("modules/workspaces.css");
@import url("styles/tooltips.css");
@import url("styles/window.css");

/* Target height of containers is 24px with a fully rounded corner (12px radius) */
box#hardware, #load, #bluetooth {
  background-color: rgba(0,0,0,0.5);
  border-radius: 12px;
  font-size: 14px;
  padding: 0 28px;
  margin: 4px;
}

box#hardware > widget:not(:last-child) > label {
  margin-right: 28px;
}
