[Desktop Entry]
Version=1.1
Type=Application
Name=WezTerm
Comment=Wez's Terminal Emulator
Icon=gksu-root-terminal
TryExec=wezterm
Exec=wezterm start --cwd .
Actions=new-window;
Categories=Settings-System;System;TerminalEmulator;Utility;
Keywords=shell;prompt;command;commandline;cmd;
StartupWMClass=org.wezfurlong.wezterm

[Desktop Action new-window]
Name=New Window
Exec=wezterm start
