---@module "astrolsp"
---@module "neominimap.config.meta"

---@type LazySpec
return {
  "AstroNvim/astrocommunity",
  { import = "astrocommunity.editing-support.conform-nvim" },
  { import = "astrocommunity.fuzzy-finder.fzf-lua" },
  { import = "astrocommunity.lsp.nvim-lint" },
  { import = "astrocommunity.lsp.nvim-lsp-file-operations" },
  { import = "astrocommunity.motion.harpoon" },
  {{- if lookPath "cargo" }}
  { import = "astrocommunity.pack.rust" },
  {{- end }}
  {{- if lookPath "go" }}
  { import = "astrocommunity.pack.go" },
  {{- end }}
  {{- if lookPath "nix" }}
  { import = "astrocommunity.pack.nix" },
  {{- end }}
  {{- if lookPath "node" }}
  { import = "astrocommunity.pack.astro" },
  { import = "astrocommunity.pack.prettier" },
  { import = "astrocommunity.pack.svelte" },
  { import = "astrocommunity.pack.typescript" },
  { import = "astrocommunity.test.neotest" },
  {{- end }}
  { import = "astrocommunity.pack.cpp" },
  { import = "astrocommunity.pack.lua" },
  { import = "astrocommunity.search.nvim-spectre" },
  { import = "astrocommunity.split-and-window.neominimap-nvim" },
  {
    "Isrothy/neominimap.nvim",
    optional = true,
    specs = {
      {
        "AstroNvim/astrocore",
        opts = {
          mappings = {
            n = {
              ["<Leader>m"] = { "<Cmd>Neominimap Toggle<CR>", desc = "Toggle minimap" },
            },
          },
        },
      },
    },
    ---@type Neominimap.UserConfig
    opts = {
      auto_enable = false,
    },
  },
  {
    "AstroNvim/astrolsp",
    ---@type AstroLSPOpts
    opts = {
      mappings = {
        n = {
          gd = {
            function()
              require("fzf-lua").lsp_definitions({ jump_to_single_result = true })
            end,
            desc = "Go to symbol definition",
          },
          grr = {
            function()
              require("fzf-lua").lsp_references()
            end,
            desc = "Go to symbol references",
          },
        },
      },
    },
  },
}
